<div class="row">
  <form class="col s12" #partidoForm="ngForm" (ngSubmit)=" enviarPartido(partido)">
    <div class="row">
      <div class="input-field col s6">
        <select class="validate" materialize="material_select" required [(ngModel)]="partido.dtoEquipoLocal.id" name="equ_local">
          <option value="" disabled selected>Escoge un equipo</option>
          <option *ngFor="let equipo of equipos" [value]="equipo.id">{{equipo.nombre}}</option>
        </select>
        <label>Equipo local</label>
      </div>
      <div class="input-field col s6">
        <select class="validate" materialize="material_select" required [(ngModel)]="partido.dtoequipoVisitante.id" name="equ_visitante">
          <option value="" disabled selected>Escoge un equipo</option>
          <option *ngFor="let equipo of equipos" [value]="equipo.id">{{equipo.nombre}}</option>
        </select>
        <label>Equipo Visitante</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select class="validate" materialize="material_select" required [(ngModel)]="partido.dtoEstadio.id" name="estadio">
            <option value="" disabled selected>Escoge un estadio</option>
            <option *ngFor="let estadio of estadios" [value]="estadio.id">{{estadio.nombre}}</option>
          </select>
        <label>Estadio</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <!-- <input id="fecha" type="text" required [(ngModel)]="partido.fecha" name="fecha" class="datepicker"> -->

        <input id="fecha" type="text" class="datepicker" [(ngModel)]="partido.fecha" name="fecha">
        <label for="fecha">Fecha</label>
      </div>
    </div>

    <div class="row">
      <h4 class="teal-text" align="center">Localidades</h4>
      <div class="col s6 m3">
        <div class="col s12">
          <h5 class="teal-text">Norte</h5>
        </div>
        <div class="input-field col s12">
          <input id="cant_max_boletas" type="number" class="validate" required [(ngModel)]="localidadPartido.num1" name="num1">
          <label for="cant_max_boletas">Número de boletas</label>
        </div>
        <div class="input-field col s12">
          <input id="precio1" type="number" class="validate" required [(ngModel)]="localidadPartido.precio1" name="precio1">
          <label for="precio1">Precio</label>
        </div>
      </div>

      <div class="col s6 m3">
        <div class="col s12">
          <h5 class="teal-text">Sur</h5>
        </div>
        <div class="input-field col s12">
          <input id="cant_max_boletas" type="number" class="validate" required [(ngModel)]="localidadPartido.num2" name="num2">
          <label for="cant_max_boletas">Número de boletas</label>
        </div>
        <div class="input-field col s12">
          <input id="precio1" type="number" class="validate" required [(ngModel)]="localidadPartido.precio2" name="precio2">
          <label for="precio1">Precio</label>
        </div>
      </div>

      <div class="col s6 m3">
        <div class="col s12">
          <h5 class="teal-text">Oriente</h5>
        </div>
        <div class="input-field col s12">
          <input id="cant_max_boletas" type="number" class="validate" required required [(ngModel)]="localidadPartido.num3" name="num3">
          <label for="cant_max_boletas">Número de boletas</label>
        </div>
        <div class="input-field col s12">
          <input id="precio1" type="number" class="validate" required [(ngModel)]="localidadPartido.precio3" name="precio3">
          <label for="precio1">Precio</label>
        </div>
      </div>

      <div class="col s6 m3">
        <div class="col s12">
          <h5 class="teal-text">Occidente</h5>
        </div>
        <div class="input-field col s12">
          <input id="cant_max_boletas" type="number" class="validate" required [(ngModel)]="localidadPartido.num4" name="num4">
          <label for="cant_max_boletas">Número de boletas</label>
        </div>
        <div class="input-field col s12">
          <input id="precio1" type="number" class="validate" required [(ngModel)]="localidadPartido.precio4" name="precio4">
          <label for="precio1">Precio</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="cant_max_boletas" type="number" class="validate" required [(ngModel)]="partido.max_cant_boletas" name="cant_max_boletas">
        <label for="cant_max_boletas">Cantidad máxima de boletas</label>
      </div>
      <div class="input-field col s12">
        <input id="precio1" type="number" class="validate">
        <label for="precio1">Precio</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="observaciones" class="materialize-textarea" required [(ngModel)]="partido.observaciones" name="observaciones"></textarea>
        <label for="observaciones">Observaciones</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <p>
          <!-- <input type="checkbox" id="activar" required [(ngModel)]="partido.estado" name="estado" value="true"/> -->
          <label for="activar">Activar partido</label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="input-field submit-field col s12" align="center">
        <button *ngIf="!cargando" type='submit' name='btn_crear' class='btn col s12 waves-effect teal' [disabled]="!partidoForm.form.valid">Crear partido</button>
        <div *ngIf="cargando" class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
