<div class="container">
  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Equipos</th>
            <th>Lugar</th>
            <th>Fecha</th>
            <th>Cantidad de boletas</th>
            <th>Observaciones</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let partido of partidos">
            <td>{{partido.id}}</td>
            <td>{{partido.dtoEquipoLocal.nombre}} VS {{partido.dtoequipoVisitante.nombre}}</td>
            <td>{{partido.dtoEstadio.nombre}}</td>
            <td>{{partido.fecha}}</td>
            <td>{{partido.max_cant_boletas}}</td>
            <td>{{partido.observaciones}}</td>
            <td [ngSwitch]="partido.estado">
              <span *ngSwitchCase="true">
                <button (click)="partido.estado=cambiarEstado(partido)" class="btn #1565c0 blue darken-3 col s12">
                  Activo
                </button>
              </span>
              <span *ngSwitchCase="false">
                <button (click)="partido.estado=cambiarEstado(partido)" class="btn #c62828 red darken-3 col s12">
                  Inactivo
                </button>
              </span>
            </td>
            <td>
              <a [routerLink]="['editar/', partido.id]" class="btn #4caf50 green">
                <i class="material-icons">edit</i>
              </a>
              <button (click)="modalEliminar(partido.id)" class="btn #c62828 red darken-3">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- Modal Structure -->
<div id="modalEliminar" class="modal">
  <div class="modal-content">
    <h4>Advertencia</h4>
    <p>¿Desea eliminar el partido?</p>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light #c62828 red darken-3" (click)="eliminarPartido()">Eliminar</button>
    <button class="btn modal-close waves-effect waves #fbc02d yellow darken-2">Cancelar</button>
  </div>
</div>
